@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('fonts/Metropolis/style.css');

*:not(div):not(body) {
    filter: drop-shadow(0 0 5px #d8b75640);
}

span {
    word-break: keep-all;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Metropolis', 'Noto Sans KR', '나눔바른고딕', arial;
    overflow-x: hidden;
    color: #dbb134;
    letter-spacing: -2px;
    background-color: #f0f0f0;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
    -webkit-transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
}
  
.pace.pace-active {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
  
.pace .pace-progress {
    position: fixed;
    z-index: 2000;
    top: 98.5vh;
    right: 100%;
    width: 100%;
    height: 1.5vh;
    background: linear-gradient(to Right, #d8b856, #d89f56);
    box-shadow: 0 5px 1.5vh #786322;
}

#mainContainer {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("images/wave.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100vw auto;
    background-color: #f0f0f0;
    width: 100vw;
    height: 100vh;
}

#namespace {
    text-align: center;
    font-weight: 800;
    font-size: 4vh;
}

#coupy {
    text-align: center;
    margin-top: -0.5vh;
    font-weight: 400;
    font-size: 2.3vh;
}

#wait {
    opacity: 0.5;
    margin-top: 0.5vh;
    text-align: center;
    font-weight: 600;
    font-size: 2vh;
    transition-duration: .5s;
}

.decoration {
    opacity: 0.5;
    position: absolute;
    width: 6vw;
}

#circle {
    top: 38vh;
    left: 27vw;
}

#arrow {
    top: 85vh;
    left: 20vw;
}

#circles {
    top: 70vh;
    right: 20vw;
}

#dot {
    top: 30vh;
    right: 27vw;
}

#downArrow {
    filter: invert(90%) sepia(15%) saturate(1759%) hue-rotate(339deg) brightness(90%) contrast(88%) drop-shadow(0 0 10px #d8b75640);
    top: 94vh;
    position: absolute;
    color: #222;
    font-size: 3vh;
    animation-duration: 3s;
    animation-name: arrowPingPong;
    animation-iteration-count: infinite;
}
  
@keyframes arrowPingPong {
    0% { top: 94vh; }
    50% { top: 96vh; }
    100% { top: 94vh; }
}

.contentsContainer {
    padding: 10vh;
    background-color: #f0f0f0;
    width: calc(100vw - 20vh);
    height: 80vh;
}

.contentsTopContainer {
    width: 100%;
    height: 20vh;
}

.contentsTopLeftContainer {
    width: 50%;
    float: left;
}

.contentsTopRightContainer {
    width: 50%;
    float: left;
    text-align: right;
}

.contentsTitle {
    letter-spacing: -5px;
    font-weight: 300;
    font-size: 5vh;
    line-height: 105%;
}

.contentsSubTitle {
    letter-spacing: -0.5px;
    font-weight: 200;
    font-size: 2.5vh;
}

.contentsText {
    color: rgb(141, 99, 90);
    font-size: 2vh;
    font-weight: 500;
}

#dot2 {
    top: 150vh;
    left: 17vw;
}

#arrow2 {
    top: 180vh;
    right: 20vw;
    transform: rotate(180deg);
}

.contentsBoxContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 5%;
    width: 90%;
    height: 50vh;
}

.contentsBoxButtons {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    width: 20vh;
    height: 20vh;
    filter: drop-shadow(0 0 15px rgba(0,0,0,0.05));
}

.contentsBoxImage {
    width: 15vh;
}

.contentsBoxFullImage {
    width: 100%;
    border-radius: 10px;
    filter: none;
}

#circle2 {
    top: 240vh;
    left: 15vw;
}

#circles2 {
    top: 280vh;
    right: 15vw;
}

#squares {
    width: 3vw;
    top: 380vh;
    right: 10vw;
}